.container {
  background-color: #b1b7c5;
  padding: 35px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  cursor: pointer;
  width: 100%;
}
.container:hover {
  background-color: #bcb4b4;
}
.texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.number {
  font-size: 20px;
  font-weight: 500;
}
.detail {
  font-size: 19px;
  font-weight: 300;
}
.title {
  font-weight: 700;
}
.positive {
  color: limegreen;
}
.negative {
  color: tomato;
}
